
/* Header */
#Headerimg{
    width:100%;
    height:250px;
}

#Navbarimg{
    width:30px;
    height:24px;
}

#co_img{
    width:80px; 
    height:80px;
}

#Mobile_Btn {
    width:100%;
    margin: 2px 2px ;
}

/* Sign in and up */

input.form-control{
    width : 80%;
    margin:0 auto;
}

#signupsubmit{
    margin-top: 10px;
    width : 50%;
}

#card-signin{
    text-align: center;
    padding: 10px;
}

/* page produit */

